:global {
    body[data-theme="light"] {
      --header-color: var(--gray-300);
    }
  
    body[data-theme="dark"] {
      --header-color: var(--white);
    }
  }
  
  .header {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: var(--header-color);
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 700;
    @media(max-width: 667px) {
      font-size: 1.2rem;
    }
    @media(max-width: 420px) {
      font-size: 1rem;
    }
  }
